@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lufga";
    font-weight: normal;
    src: url(/fonts/lufga/Lufga-Regular.otf);
  }
  @font-face {
    font-family: "Lufga";
    font-weight: bold;
    src: url(/fonts/lufga/Lufga-Bold.otf);
  }
  @font-face {
    font-family: "Lufga";
    font-style: italic;
    src: url(/fonts/lufga/Lufga-BoldItalic.otf);
  }
}




